{% set title = 'Export Content Package' %}
{% set iconName = 'download' %}

{% set breadcrumbItems = [
    { value: 'Content Packages', url: path('contextual_code_content_packages_dashboard') },
    { value: title }
]
%}

{% extends '@ezdesign/content_packages/layout.html.twig' %}

{% block page_content %}
    <p>
        <ul>
            {% for type, label in types %}
                <li>
                    <a href="{{ path('contextual_code_content_packages_export_' ~ type|replace({'-': '_'})) }}">
                        Export {{ label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </p>
{% endblock %}
