{% set title = 'Content Package ' ~ entity.getPackageId() %}
{% set icon = 'download' %}

{% set breadcrumbItems = [
    { value: 'Content Packages', url: path('contextual_code_content_packages_dashboard') },
    { value: 'Export Content Package', url: path('contextual_code_content_packages_export') },
    { value: title  }
]
%}

{% extends '@ezdesign/content_packages/layout.html.twig' %}

{% block page_content %}
    {% set alert_class = 'alert-info' %}
    {% if entity.getError() %}
        {% set alert_class = 'alert-danger' %}
    {% elseif entity.inProgress %}
        {% set alert_class = 'alert-warning' %}
    {% elseif entity.getDate() and entity.getDate().getTimestamp() + 180 >= date().getTimestamp() %}
        {% set alert_class = 'alert-success' %}
    {% endif %}

    <div class="alert {{ alert_class }} cc-content-packages-info">
        {% if entity.getError() %}
            {{ entity.getError() }}
        {% elseif entity.inProgress %}
            <b>Generating new content package... {{ entity.getProgress() }}%</b>
            <script type="text/javascript">
                setTimeout(function() {
                    location.reload();
                }, 5000);
            </script>
            <br>
        {% elseif entity.getDate() %}
            You generated this content package on:
            {{ entity.getDate()|date('M j, Y g:ia') }}
        {% endif %}
    </div>

    {% if not entity.getError() and not entity.inProgress %}
        <h2 class="cc-content-packages-download">
            <a class="btn btn-primary" target="_blank" href="{{ path('contextual_code_content_packages_download', { packageId: entity.getPackageId() }) }}">
                Download Content Package
            </a>
        </h2>
    {% endif %}

    {% if status_log is defined and status_log %}
        <div class="cc-content-packages-status-log-wrapper">
            <h3 class="cc-content-packages-status-log-header">
                Status Log
            </h3>
            <div class="cc-content-packages-status-log">
                {{ status_log|nl2br }}
            </div>
        </div>
    {% endif %}

{% endblock %}
