{% set title = 'Export Subtree' %}
{% set iconName = 'download' %}

{% set breadcrumbItems = [
    { value: 'Content Packages', url: path('contextual_code_content_packages_dashboard') },
    { value: 'Export Content Package', url: path('contextual_code_content_packages_export') },
    { value: title }
]
%}

{% extends '@ezdesign/content_packages/layout.html.twig' %}

{% block page_content %}
    {{ form_start(form_view) }}
    <style>
        form[name="export_subtree"] input[type="checkbox"] {
            margin-bottom: 20px;
        }
        form[name="export_subtree"] .ez-label {
            font-weight: unset;
        }
        form[name="export_subtree"] label {
            margin-right: 20px;
        }
        .options-header {
            text-align: center;
        }
        .subtree-col div {
            display: inline;
        }
        #export_subtree_subtree-location-id {
            width: 50%;
            display: inline;
        }
    </style>

    <div class="row">
        <div class="col subtree-col col-6">
            <label for="export_subtree-location-id" class="ez-label">
                Subtree location id
            </label>
            <br>
            {{ form_row(form_view['subtree-location-id'], {'label_attr': {'class': 'ez-label'}, 'attr': {'class': 'form-control'}}) }}
            {{ form_row(form_view['browse'], {'label_attr': {'class': 'ez-label'}}) }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col options-header">
            <h3>Basic Options</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form_view['language']) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form_view['preserve-remote-ids']) }}
        </div>
        <div class="col">
            {{ form_row(form_view['preserve-owner']) }}
        </div>
        <div class="col">
            {{ form_row(form_view['preserve-published']) }}
        </div>
        <div class="col">
            {{ form_row(form_view['preserve-modified']) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form_view['preserve-section']) }}
        </div>
        <div class="col">
            {{ form_row(form_view['preserve-object-states']) }}
        </div>
        <div class="col">
            {{ form_row(form_view['include-files']) }}
        </div>
        <div class="col">
            {{ form_row(form_view['include-file-references']) }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col options-header">
            <h3>Advanced Options</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form_view['exclude-attributes'], {'label_attr': {'class': 'ez-label'}, 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col">
            {{ form_row(form_view['extra-fields-location-id-references'], {'label_attr': {'class': 'ez-label'}, 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col">
            {{ form_row(form_view['extra-fields-content-id-references'], {'label_attr': {'class': 'ez-label'}, 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col">
            {{ form_row(form_view['add-brackets-to-reference-fields'], {'label_attr': {'class': 'ez-label'}, 'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <hr>

    {% include '@ezdesign/content_packages/udw_browse.html.twig' with { element_id: 'export_subtree_subtree-location-id' } %}

    {{ form_end(form_view) }}
{% endblock %}
