{% set title = 'Export Content Types' %}
{% set iconName = 'download' %}

{% set breadcrumbItems = [
    { value: 'Content Packages', url: path('contextual_code_content_packages_dashboard') },
    { value: 'Export Content Package', url: path('contextual_code_content_packages_export') },
    { value: title }
]
%}

{% extends '@ezdesign/content_packages/layout.html.twig' %}

{% block page_content %}
    {{ form_start(form_view) }}
    <style>
        form[name="export"] input[type="checkbox"] {
            margin-bottom: 20px;
        }
        form[name="export"] .ez-label {
            font-weight: unset;
        }
        form[name="export"] label {
            margin-right: 20px;
        }
        .options-header {
            text-align: center;
        }
        #export_content_types_content-type-identifiers {
            min-height: 300px;
        }
    </style>

    <div class="row">
        <div class="col">
            {{ form_row(form_view['language']) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form_view['content-type-identifiers'], {'label_attr': {'class': 'ez-label'}, 'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col options-header">
            <h3>Advanced Options</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form_view['exclude-attributes'], {'label_attr': {'class': 'ez-label'}, 'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <hr>

    {{ form_end(form_view) }}
{% endblock %}
