{% set title = 'Import Content Package' %}
{% set iconName = 'upload' %}

{% set breadcrumbItems = [
    { value: 'Content Packages', url: path('contextual_code_content_packages_dashboard') },
    { value: title }
]
%}

{% extends '@ezdesign/content_packages/layout.html.twig' %}

{% block page_content %}
    <p>
        <ul>
            {% for type, label in types %}
                <li>
                    <a href="{{ path('contextual_code_content_packages_import_type', {
                        type: type
                    }) }}">
                        Import {{ label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </p>
{% endblock %}
