{% set title = 'Import Tags tree' %}
{% set iconName = 'upload' %}

{% set breadcrumbItems = [
    { value: 'Content Packages', url: path('contextual_code_content_packages_dashboard') },
    { value: 'Import Content Package', url: path('contextual_code_content_packages_import') },
    { value: title }
]
%}

{% extends '@ezdesign/content_packages/layout.html.twig' %}

{% block page_content %}
    {{ form_start(form_view) }}

    <style>
        form[name="import_tags"] label {
            margin-right: 20px;
        }
    </style>

    <div class="row">
        <div class="col">
            <label for="import_tags-parent-id" class="ez-label">
                Tag id to import under
            </label>
            <br>
            {{ form_row(form_view['parent-id'], {'label_attr': {'class': 'ez-label'}, 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col">
            {{ form_row(form_view['file']) }}
        </div>
    </div>

    <hr>

    {{ form_end(form_view) }}
{% endblock %}
