{% set title = 'Import Subtree' %}
{% set iconName = 'upload' %}

{% set breadcrumbItems = [
    { value: 'Content Packages', url: path('contextual_code_content_packages_dashboard') },
    { value: 'Import Content Package', url: path('contextual_code_content_packages_import') },
    { value: title }
]
%}

{% extends '@ezdesign/content_packages/layout.html.twig' %}

{% block page_content %}
    {{ form_start(form_view) }}
    <style>
        form[name="import_subtree"] label {
            margin-right: 20px;
        }
        form[name="import_subtree"] .ez-label {
            font-weight: unset;
        }
        .subtree-col div {
            display: inline;
        }
        #import_subtree_parent-id {
            width: 50%;
            display: inline;
        }
    </style>

    <div class="row">
        <div class="col subtree-col">
            <label for="import_subtree-parent-id" class="ez-label">
                Location id to import under
            </label>
            <br>
            {{ form_row(form_view['parent-id'], {'label_attr': {'class': 'ez-label'}, 'attr': {'class': 'form-control'}}) }}
            {{ form_row(form_view['browse'], {'label_attr': {'class': 'ez-label'}}) }}
        </div>
        <div class="col">
            {{ form_row(form_view['file']) }}
        </div>
    </div>

    <hr>

    {% include '@ezdesign/content_packages/udw_browse.html.twig' with { element_id: 'import_subtree_parent-id' } %}

    {{ form_end(form_view) }}
{% endblock %}
