{% set title = 'Import Content Package ' ~ entity.getPackageId() %}
{% set icon = 'upload' %}

{% set breadcrumbItems = [
    { value: 'Content Packages', url: path('contextual_code_content_packages_dashboard') },
    { value: 'Import Content Package', url: path('contextual_code_content_packages_import') },
    { value: title  }
]
%}

{% extends '@ezdesign/content_packages/layout.html.twig' %}

{% block page_content %}
    {% set alert_class = 'alert-info' %}
    {% if entity.getError() %}
        {% set alert_class = 'alert-danger' %}
    {% elseif entity.inProgress %}
        {% set alert_class = 'alert-warning' %}
    {% elseif entity.getDate() and entity.getDate().getTimestamp() + 180 >= date().getTimestamp() %}
        {% set alert_class = 'alert-success' %}
    {% endif %}

    <div class="alert {{ alert_class }} cc-content-packages-info">
        {% if entity.getError() %}
            {{ entity.getError() }}
        {% elseif entity.inProgress %}
            <b>Importing content package... {{ entity.getProgress() }}%</b>
            <script type="text/javascript">
                setTimeout(function() {
                    location.reload();
                }, 5000);
            </script>
            <br>
        {% else %}
            {# TODO: better output #}
            Content package imported.
        {% endif %}
    </div>

    {% if status_log is defined and status_log %}
        <div class="cc-content-packages-status-log-wrapper">
            <h3 class="cc-content-packages-status-log-header">
                Status Log
            </h3>
            <div class="cc-content-packages-status-log">
                {{ status_log|nl2br }}
            </div>
        </div>
    {% endif %}

{% endblock %}
