{% set title = 'About' %}
{% set iconName = 'about-info' %}

{% set breadcrumbItems = [
    { value: 'Content Packages', url: path('contextual_code_content_packages_dashboard') },
    { value: title }
]
%}

{% extends '@ezdesign/content_packages/layout.html.twig' %}

{% block page_content %}
    This tool was created by <a target="_blank" href="https://www.contextualcode.com">Contextual Code</a>.
    Suggestions and pull requests are very welcome over on <a target="_blank" href="https://gitlab.com/contextualcode/ezplatform-content-packages">GitLab</a>.
    <br>
    <br>
    <h2>How It Works</h2>
    <p>
        This tool is built off of <a target="_blank" href="https://github.com/kaliop-uk/ezmigrationbundle">Kaliop's eZ Migration Bundle</a>, which is inspired by the <a target="_blank" href="https://github.com/doctrine/DoctrineMigrationsBundle">DoctrineMigrationsBundle</a>.
        <br>
        <br>
        Generating an export of a subtree has a few main steps:
        <ol>
            <li>
                Generate eZ Migration files for each location in our subtree
                <ul>
                    <li>
                        We generate "create" eZ Migration files and then "update" eZ Migration files. This lets us have references to ids in the subtree being exported/imported (in later steps), without circular dependency issues
                    </li>
                </ul>
            </li>
            <li>
                Create references for each location/content id in the Migration files we just created
            </li>
            <li>
                Replace all location/content ids with the references we just created
            </li>
            <li>
                Replace the subtree's root node's parent location id with a placeholder, so this Content Package can be imported under any parent location
            </li>
            <li>
                Copy all of the binaries (images/files) referenced in our Migration files to our directory
            </li>
            <li>
                Zip it all up, serve to user as a Content Package
            </li>
        </ol>
        <br>
        Imports are a bit simpler:
        <ol>
            <li>
                Unzip the Content Package
            </li>
            <li>
                Replace the placeholder for the parent location id (made in step 4 of the export) with the given location id
            </li>
            <li>
                Run the eZ Migrations
            </li>
        </ol>
    </p>

    <h2>TODO</h2>
    <p>
        <ol>
            <li>
                Allow export/import of users, locations vs. content, etc.
            </li>
            <li>
                Smart handling of different Content Types on export/import installations
            </li>
            <li>
                Better output for import migration
            </li>
            <li>
                Option to follow and export references to locations/contents outside of the subtree being exported
            </li>
            <li>
                Option to ignore publish validation or not?
            </li>
            <li>
                Tooltips for form options
            </li>
            <li>
                Options for Languages
            </li>
        </ol>
    </p>

{% endblock %}
