{% extends '@ezdesign/content_packages/layout.html.twig' %}

{% block page_content %}

    <p>
        This bundle provides a way to export and import content between different eZ Platform installations.
    </p>

    <h2>Exporting Content Packages</h2>
    <p>
        Head to the <a href="{{ path('contextual_code_content_packages_export') }}">export page</a>. Content Package types supported currently are Location subtrees, Content Types, and Tag trees.
        <br>
        Please note that the exports are user-specific. Normal eZ permissions apply, and no one else will be able to view your exports.
        <br>
        <h3>
            Subtree Export
        </h3>
        Binaries (files/images) are included. References to other location/content ids (in relation attributes, for example) are resolved.
        <br>
        <strong>Important:</strong>
        <br>
        Please note that if there is a reference to a content/location id outside of the subtree you are exporting, it will be left intact (instead of being exported or resolved to a new id). This is a limitation that we wish to fix in future versions.
        <br>
        <br>
        <h4>Subtree Export Options:</h4>
        There are some options on the form. Leaving them as their defaults is fine, but you may want to change them if you need to customize how the Content Package is generated.
        <br>
        <br>
        <h5>Basic Options:</h5>
        <ul>
            <li>
                <strong>Preserve Remote Ids</strong>
                <br>
                Controls whether or not remote ids will be included in the export.
                If not, then new remote ids will be assigned when importing.
            </li>
            <li>
                <strong>Preserve Owner</strong>
                <br>
                Controls whether or not owners of objects will be included in the export.
                If not, then the user who imports this Content Package will be the owner.
            </li>
            <li>
                <strong>Preserve Publication Date</strong>
                <br>
                Controls whether or not original publication dates will be included in the export.
            </li>
            <li>
                <strong>Preserve Modification Date</strong>
                <br>
                Controls whether or not original modification dates will be included in the export.
            </li>
            <li>
                <strong>Preserve Section</strong>
                <br>
                Controls whether or not sections will be included in the export.
            </li>
            <li>
                <strong>Preserve Object States</strong>
                <br>
                Controls whether or not object states will be included in the export.
            </li>
            <li>
                <strong>Include File Binaries</strong>
                <br>
                If this is checked, the images/files in the export will be included in the Content Package.
                If this is unchecked, the images/files in the export will not be included, but the references to those images will still be in the migration files. This is useful if you want to put the files in your Content Package with `rsync` after the fact, for example.
            </li>
            <li>
                <strong>Include File References</strong>
                <br>
                If this is checked, the images/files values in the export Migration Files will be left intact.
                If this is unchecked, the images/files values in the export will be removed. This is useful if you don't want to import files at all into the new system.
            </li>
        </ul>
        <h5>Advanced Options:</h5>
        <ul>
            <li>
                <strong>Exclude Fields from Export</strong>
                <br>
                These are comma-separated content class attributes to not include in the export. They can be of the form "attribute_identifier" or "class_identifier/attribute_identifier".
            </li>
            <li>
                <strong>Attributes to Replace Hardcoded Location Ids In</strong>
                <br>
                This parameter is useful, for example, if you have a Rich Text attribute that contains hardcoded location ids. Pass the name of that attribute here, and the export will replace those hardcoded location ids with the correct, new ids (if those locations are also in the subtree being exported).
            </li>
            <li>
                <strong>Attributes to Replace Hardcoded Content Ids In</strong>
                <br>
                Same as the "Attributes to Replace Hardcoded Location Ids In" parameter, but with content ids.
            </li>
            <li>
                <strong>Add Brackets Around References in Fields</strong>
                <br>
                Because of how the migration files work, you most likely want this field to contain the attributes you added to "Attributes to Replace Hardcoded Location Ids In" and "Attributes to Replace Hardcoded Content Ids In".
            </li>
        </ul>
    </p>

    <br>

    <h2>Importing Content Packages</h2>

    <p>
        Head to the <a href="{{ path('contextual_code_content_packages_export') }}">import page</a>. When importing a subtree Content Package, you will have to select the parent location id to import the subtree under.
    </p>

{% endblock %}
