{% set title = 'Error' %}
{% set iconName = 'error' %}

{% set breadcrumbItems = [
    { value: 'Content Packages', url: path('contextual_code_content_packages_dashboard') },
    { value: title }
]
%}
{% extends '@ezdesign/content_packages/layout.html.twig' %}

{% block page_content %}
    Sorry, there has been an error{% if error is defined and error %}: {{ error|raw }}{% else %}.{% endif %}
    <br><br>
    (Maybe try starting over from the <a href="{{ path('contextual_code_content_packages_dashboard') }}">dashboard</a>?)
{% endblock %}
